videol {
    width: 100%;
    height: auto;
    float: center;
    cursor: pointer;
  }
  .field {
    width: 100%;
    height: 56px;
    right: 10px;
    border-radius: 4px;
    position: center;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s all;
  
    &:hover {
      background-color: rgba(255, 255, 255, 0.45);
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    }
  }

  .video-container{
    position: center;
 
  }
  .labell {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  }

  .panel-heading {
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .panel-body {
    padding: 15px;
}

.input-group {
  padding: 10px 15px;
  
  display: table;
  box-sizing: border-box;
}
.appBar {
    position: bottom;
  }

  .livebutton {
    cursor: pointer;
    font-size: 1.6rem;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-right: 1rem;
    padding-top: 1rem;
    background-color: rgba(255, 0, 0, 0.849); 
    padding-bottom: 1rem;
  
    &-icon{
       width: 15px;
       height: 15px;
       fill: #fff;
       margin-right: 1rem; 
    }

    &:hover {
       color: #000;
       background-color: #e6e6e6;
       transition: all .2s;
       box-shadow: 0 1px 2px rgba(0, 0, 0, .3);

       & > * {
          fill: #000;
       }
    }
 }

 .liveheader{
  font-size: 4rem;
  margin-top: 3rem; 
 }